body {
    margin: 0;
    padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("nocciolealt2.jpg");
	background-attachment: fixed;
}

/* header e menu */
.header {
	position: absolute;
	width: 100%;
	background-color: #FED6B2;
	height: 150px;
	z-index: 20;
	box-shadow: 0px 10px 50px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hamburger-menu {
	height: 45px;
	width: 45px;
	margin-left: 4%;
	border: none;
	border-radius: 10px;
	color: #CE7553;
	background-color: #FED6B2;
	text-align: center;
	transition: .5s all;
	padding: 0;
}
.hamburger-menu:hover {
	color: #FED6B2;
	background-color: #CE7553;	
	transition: .5s all;
}
.material-symbols-outlined {
	vertical-align: center;
	margin: auto;
}

.intestazione {
	background-color: red;
	height: 150px;
	width: 50px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.logo {
	position: relative;
	margin-right: 5%;
	max-height: 150px;
}

/* corpo pagina */
.sez1 {
	height: 2500px;
	background-color: white;
	width: 80%;
	margin: auto;
	z-index: 1;
	box-shadow: 0px 0px 100px 20px;
}

@media (max-width: 700px) {
    .sez1 {
		width: 90%; /* Ripristina la larghezza predefinita per schermi più grandi di 600px */
	}
}

footer {
	width: 100%;
	background-color: #55433C;
	height: 200px;
}