@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;500;600&family=Nunito:wght@500;600;700;800;900;1000&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("nocciolealt2.jpg");
	background-attachment: fixed;
}

/* header e menu */
.header {
	position: absolute;
	width: 100%;
	background-image: linear-gradient(to bottom, #fed6b2, #fddaba, #fbdec3, #fae1cb, #f8e5d4, #fae1cb, #fbdec3, #fddaba, #fed6b2);
	height: 150px;
	z-index: 20;
	box-shadow: 0px 10px 50px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hamburger-menu {
	height: 45px;
	width: 45px;
	margin-left: 4%;
	border: none;
	border-radius: 10px;
	color: #CE7553;
	background-color: #FED6B2;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s all;
	padding: 0;
}
.hamburger-menu:hover {
	color: #FED6B2;
	background-color: #CE7553;	
	transition: .5s all;
	cursor: pointer;
}

.intestazione {
	max-height: 150px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.title {
	color: #2B6723;
	font-family: 'Nunito', sans-serif;
	font-size: 30px;
	margin: 0px;
	font-weight: 900;
}
.subtitle {
	color: #609B53;
	margin-top: 20px;
	font-size: 25px;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}
@media (max-width: 835px) {
	.intestazione {
		width: 70%;
	}
	.title {
		font-size: 25px;
	}
	.subtitle {
		font-size: 20px;
	}
}
@media (max-width: 505px) {
	.intestazione {
		width: 65%;
	}
	.title {
		font-size: 20px;
	}
	.subtitle {
		font-size: 15px;
	}
}

.logo {
	position: relative;
	margin-right: 5%;
	max-height: 150px;
}
@media (max-width: 950px) {
	.logo {
		display: none;
	}
}

.menu {
	width: 350px;
	box-shadow: none;
	background-image: linear-gradient(to bottom, #fed6b2, #fddaba, #fbdec3, #fae1cb, #f8e5d4);
	position: absolute;
	display: flex;
	height: 100%;
	left: -352px;
	top: 150px;
	z-index: 21;
	border-top: 4px solid #55433C;
	border-right: 2px solid #55433C;
	transition: 1s all;
}
@media (max-width: 450px) {
	.menu {
		width:310px;
	}
}
@media (max-width: 340px) {
	.menu {
		width:250px;
	}
}

.ombra {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	background-color: #55433C;
	opacity: 0;
	transition: .5s all;
	display: none;
}

/* corpo pagina */
.sez1 {
	min-height: 700px;
	background-color: white;
	width: 80%;
	margin: auto;
	z-index: 1;
	box-shadow: 0px 0px 100px 20px;
	display: flex;
	flex-direction: column;
}
.pagetitle {
	font-size: 50px;
	width: 100%;
	color: #2B6723;
	margin: 185px 0 0 0;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
}
@media (max-width: 700px) {
    .sez1 {
		width: 90%;
	}
}

#back-to-top-btn {
	position: fixed;
	right: 3%;
	bottom: -70px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #FED6B2;
	color: #CE7553;
	border: none;
	outline: none;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s, color 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}
#back-to-top-btn:hover {
	background-color: #CE7553;
	color: #FED6B2;
}
#back-to-top-btn.show {
  opacity: 1;
  bottom: 55px;
}
@media (max-width: 535px) {
    #back-to-top-btn {
		width: 60px;
		height: 60px;
	}
}

.ipertext {
	padding: 0px;
	margin: 0;
	list-style-type: none;
}
.elenco {
	padding: 0px;
	margin: 60px 0 0 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
.icone {
	font-size: 30px !important;
	margin-right: 10px;
}
.pagine {
	padding: 0px;
	margin: 0 0 0 10px;
	color: #2B6723;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 22px;
	transition: .2s all;
}
.pagine:hover {
	color: #609B53;
	transition: .2s all;
}

.content{
	font-size: 20px;
	margin: 20px 5% 0px 5%;
	line-height: 2;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 400;
}

/* Contenuto pagina Home*/
.poster {
	display: block;
	margin: 30px auto 0 auto;
	width: 90%;
}

.idea {
	margin: 30px 5% 0 5%;
	font-size: 22px;
	color: #609B53;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 600;
}

.conclusione {
	background-image: linear-gradient(to bottom, #fed6b2, #fddaba, #fbdec3, #fae1cb, #f8e5d4, #fae1cb, #fbdec3, #fddaba, #fed6b2);
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 2;
	padding: 20px 0;
	margin-top: 30px;
}

.mappa {
	margin: 0 20px;
	width: 20%;
}

.regioni {
	font-size: 20px;
	margin: 0 20px;
	flex: 1;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 400;
	font-style: italic;
}
.obiettivo {
	padding: 0 0 0 30px;
	margin: 0;
}

@media (max-width: 1000px) {
    .mappa {
		width: 40%;
	}
	.conclusione {
		flex-wrap: wrap;
	}
	.regioni {
		flex: auto;
	}
}


/* Contenuto pagina Presentazione*/
.video_p {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}


/* Contenuto pagina Intervista*/
.container {
	background-image: linear-gradient(to bottom, #fed6b2, #fddaba, #fbdec3, #fae1cb, #f8e5d4, #fae1cb, #fbdec3, #fddaba, #fed6b2);
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.interview {
	width: 100%;
}

#sliding_box1 {
	width: 100%;
	background-image: linear-gradient(to bottom, #fed6b2, #fddaba, #fbdec3, #fae1cb, #f8e5d4);
}

#sliding_box2 {
	width: 100%;
	background-image: linear-gradient(to top, #fed6b2, #fddaba, #fbdec3, #fae1cb, #f8e5d4);
}

.colleg {
	color: #55433C;
	padding: 0px;
	transition: .2s all;
}
.colleg:hover {
	color: #BDA69E;
	transition: .2s all;
}

.question {
	padding: 0;
	margin: 20px 5% 0 5%;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 500;
	line-height: 1.5;
}

.answer {
	padding: 0 0 0 30px;
	margin: 5px 5% 0 5%;
	font-size: 20px;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 400;
}
.answer li {
	margin: 10px 0 0 0;
}

/* Contenuto pagina Cimice*/
.cimice {
	float: right;
	margin: 0 0 10px 5%;
	width: 25%;
	box-shadow: -7px 7px 20px;
}

.puntura {
	width: 25%;
	float: left;
	margin: 10px 5% 10px 0;
	position: relative;
	box-shadow: 7px -7px 20px;
}

@media (max-width: 850px) {
	.cimice {
		width: 40%;
	}
	.puntura {
		width: 40%;
	}
}
@media (max-width: 600px) {
	.cimice {
		width: 100%;
		margin: auto;
		position: relative;
		box-shadow: 0px 5px 20px;
	}
	.puntura {
		width: 100%;
		margin: auto;
		position: relative;
		box-shadow: 0px 5px 20px;
	}
	#wiki {
		text-align: left;
	}
}


/* sezione finale footer */
footer {
	width: 100%;
	background-color: #55433C;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.thanks {
	display: block;
	font-size: 18px;
	color: #BDA69E;
	margin: 20px auto;
	max-width: 400px;
	line-height: 1.5;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
@media (max-width: 750px) {
    .thanks {
		width: 100%;
		text-align: center;
		padding: 0px 15px;
	}
}